* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: inherit;
}

:root, html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    position: relative;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header h1 img {
    width: 200px; 
    height: auto; 
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px; 
    width: 100%;
    justify-content: space-evenly;
    align-items: center; 
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    text-decoration: none;
    color: #d2d2d2;
    font-size: 2em; 
    padding: 10px; 
    transition: all 0.3s ease;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #333;
    color: #d6fe0d;
    border-radius: 5px;
}

nav ul li a:active {
    transform: scale(0.95);
}

nav ul li a[href="about.html"] {
    font-weight: bold;
    background-color: #d6fe0d;
    color: #333;
    border-radius: 5px;
}

nav ul li a[href="about.html"]:hover,
nav ul li a[href="about.html"]:focus {
    background-color: #333;
    color: #d6fe0d;
    border-radius: 5px;
}

.about-me {
    display: flex;
    align-items: flex-start;
    padding: 40px;
    margin-top: 100px;
    justify-content: center;
    text-align: left;
}

.profile-icon {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-right: 40px;
}

.info {
    max-width: 600px;
}

.info h2 {
    font-size: 3em;
    margin: 0 0 20px;
}

.info p {
    font-size: 1.2em;
    margin: 0 0 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 20px;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons img {
    width: 48px;
    height: 48px;
    filter: invert(1); 
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons a:hover img {
    transform: scale(1.1);
    filter: invert(0.7); 
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f4f4f4;
}

a {
  color: #f4f4f4;
}

html, body {
  height: 100%;
}

#particles-js { 
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #181818;
}

#wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

@keyframes blink {
    0% { opacity: 1; }
    10% { opacity: 0.1; }
    20% { opacity: 0.5; }
    30% { opacity: 0.2; }
    40% { opacity: 0.8; }
    50% { opacity: 0; }
    60% { opacity: 0.3; }
    70% { opacity: 1; }
    80% { opacity: 0.6; }
    90% { opacity: 0.4; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 2s infinite;
}