* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: inherit;
}

:root, html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 165px; 
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

header h1 img {
    width: 200px;
    height: auto; 
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    flex-grow: 1;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #d2d2d2;
    font-size: 2em;
    padding: 10px;
    transition: all 0.3s ease;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #333;
    color: #d6fe0d;
    border-radius: 5px;
}

nav ul li a:active {
    transform: scale(0.95);
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #d6fe0d;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: scaleX(0);
}

nav ul li a:hover::after,
nav ul li a:focus::after {
    opacity: 1;
    transform: scaleX(1);
}

nav ul li a[href="home.html"] {
    font-weight: bold;
    background-color: #d6fe0d;
    color: #333;
    border-radius: 5px;
}

nav ul li a[href="home.html"]:hover,
nav ul li a[href="home.html"]:focus {
    background-color: #333;
    color: #d6fe0d;
    border-radius: 5px;
}

.mv-video {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 165px); /* Adjust for header height */
}

.mv-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-top, .video-bottom {
    animation: video-animation 5s infinite alternate;
    opacity: 0.2;
}

@keyframes video-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* モバイル用レイアウト */
@media screen and (max-width: 768px) {
    header {
        flex-direction: row;
        padding: 5px;
    }

    header h1 img {
        width: 80px;
        margin-bottom: 0;
    }

    body {
        font-family: Arial, sans-serif;
        padding-top: 130px; 
    }

    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        font-size: 1em;
        padding: 5px;
    }

    .about-me {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .profile-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .info h2 {
        font-size: 1.5em;
    }

    .info p {
        font-size: 0.9em;
    }

    .social-icons a {
        margin-right: 5px;
    }

    .social-icons img {
        width: 30px;
        height: 30px;
    }

    .mv-video {
        height: calc(100vh - 165px); /* Adjust for header height */
    }

    .mv-video video {
        height: 33.3%;
    }

}

/* PC用レイアウト */
@media screen and (min-width: 769px) {
    .mv-video {
        height: calc(100vh - 165px); /* Adjust for header height */
    }

    .mv-video video {
        display: none; /* PCではすべての動画を非表示に */
    }

    .mv-video .video-main {
        display: block; /* メインの動画のみ表示 */
        height: 100%; /* 全体の高さに調整 */
    }
}