@charset "utf-8";

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: #000000;
  text-align: center;
  color: #fff;
}

#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#splash_logo img {
  width: 1000px;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#container {
  width: 100%;
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
}

/* モバイル用のスタイル */
@media only screen and (max-width: 600px) {
  #splash_logo img {
    width: 100%; /* ロゴのサイズを調整 */
  }

  #splash {
    padding: 20px; /* スプラッシュ画面にパディングを追加 */
  }

  #container {
    padding: 10px; /* コンテナにパディングを追加 */
  }
}