/*container設定*/
#container{
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;/*高さを全画面にあわせる*/
} 

#video-area{
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

.modaal-content-container video{
    width:100%;
}


/*===========================================================*/
/* 印象編 4 最低限おぼえておきたい動き
/*===========================================================*/

/* 4-1　ふわっ（上から） */

.fadeDown{
animation-name: fadeDownAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeDownAnime{
  from {
    opacity: 0;
	transform: translateY(-100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}

.fadeDownTrigger{
    opacity: 0;
}

/*===========================================================*/
/*印象編　8-5 テキストが流れるように出現（下から上）
/*===========================================================*/

.slide-in {
	overflow: hidden;
    display: inline-block;
}

.slide-in_inner {
	display: inline-block;

}

/*上下のアニメーション*/

.upAnime,
.downAnime{
    opacity: 0;/*事前に透過0にして消しておく*/
}

.slideAnimeDownUp {
	animation-name: slideTextY100;
	animation-duration:1s;
	animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextY100 {
  from {
	transform: translateY(100%);/*要素を上の枠外に移動*/
    opacity: 0;
  }

  to {
	transform: translateY(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeUpDown {
	animation-name: slideTextY-100;
	animation-duration:1s;
	animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextY-100 {
  from {
	transform: translateY(-100%);/*要素を下の枠外に移動*/
    opacity: 0;
  }

  to {
	transform: translateY(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

